/* Body reset */
body {
    margin: 0;
    background-color: #272727;
}

/* TERMINAL */
.terminal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.terminal__menu,
.terminal__screen {
    width: 100vw;
}

/* TERMINAL TOP MENU */
.terminal__menu {
    height: 4%;
    background-color: #bbb;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
}

.terminal__button {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-left: 10px;
    background-color: green;
    border: 1px solid;
}

.terminal__button--red {
    background-color: #ff3b47;
    border-color: #9d252b;
}

.terminal__button--yellow {
    background-color: #ffc100;
    border-color: #9d802c;
}

.terminal__button--green {
    background-color: #00d742;
<<<<<<< HEAD
}

/* TERMINAL SCREEN */
.terminal__screen {
    background-color: #151515;
    height: 96%;
    padding-top: 1em;
}

.terminal__maintext{
    font-family: monospace;
    color: green;
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 0;
    margin-top: 0;
}

.terminal__maintext--result {
    color: rgb(0, 109, 128);
    display: block;
    font-size: 1em;
    padding: 0.5em;
=======
    border-color: #049931;
>>>>>>> top-left-buttons
}