/* Body reset */
body {
    margin: 0;
    background-color: #272727;
    font-family: monospace;
}

/* TERMINAL */
.terminal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.terminal__menu,
.terminal__screen {
    width: 100vw;
}

/* TERMINAL TOP MENU */
.terminal__menu {
    height: 4%;
    background-color: #bbb;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
}

.terminal__button {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-left: 10px;
    background-color: green;
    border: 1px solid;
}

.terminal__button--red {
    background-color: #ff3b47;
    border-color: #9d252b;
}

.terminal__button--yellow {
    background-color: #ffc100;
    border-color: #9d802c;
}

.terminal__button--green {
    background-color: #00d742;
    border-color: #049931;
}

.terminal__title {
    position: absolute;
    color: rgb(95, 95, 95);
    left: 30vw;
}

/* TERMINAL SCREEN */
.terminal__screen {
    background-color: #151515; 
    height: 96%;
    padding-top: 1em;
}

.terminal__screen::before {
    content: "";
    background-image: url('./img/anonymous_bg.png');
    opacity: 0.1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.terminal__maintext{
    color: rgb(130, 195, 0);
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 0;
    margin-top: 0;
}

.terminal__maintext--result {
    color: rgb(0, 157, 185);
    display: block;
    font-size: 1em;
    padding: 0.5em;
}