/* Body reset */
body {
    margin: 0;
    background-color: #272727;
    font-family: monospace;
}

/* TERMINAL */
.terminal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.terminal__menu,
.terminal__screen {
    width: 100vw;
}

/* TERMINAL TOP MENU */
.terminal__menu {
    height: 4%;
    background-color: #bbb;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

.terminal__button {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-left: 10px;
    background-color: green;
    border: 1px solid;
}

.terminal__button--red {
    background-color: #ff3b47;
    border-color: #9d252b;
}

.terminal__button--yellow {
    background-color: #ffc100;
    border-color: #9d802c;
}

.terminal__button--green {
    background-color: #00d742;
    border-color: #049931;
}

.terminal__title {
    position: absolute;
    color: rgb(95, 95, 95);
    left: 30vw;
}

/* TERMINAL SCREEN */
.terminal__screen {
    background-color: #151515;
    height: 96%;
    padding-top: 3vh;
}

.terminal__screen::before {
    content: "";
    background-image: url('./img/anonymous_bg.png');
    opacity: 0.1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1vh;
    right: 2vw;
    bottom: 0px;
    left: 2vw;
}

.terminal__maintext {
    color: rgb(130, 195, 0);
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 0;
    margin-top: 0;

    animation: displayTitles 2s;
}

.terminal__maintext--result {
    color: rgb(0, 157, 185);
    display: block;
    font-size: 1em;
    padding: 0.5em;
}

/* ANIMATIONS */
.terminal__maintext--1 {
    animation: displayResults 3s ease-in-out;
}

.terminal__maintext--2 {
    animation: displayResults 4s ease-in-out;
}

.terminal__maintext--3 {
    animation: displayResults 5s ease-in-out;
}

.terminal__maintext--4 {
    animation: displayResults 6s ease-in-out;
}

.terminal__maintext--5 {
    animation: displayResults 7s ease-in-out;
}

.terminal__maintext--6 {
    animation: displayResults 8s ease-in-out;
}

@keyframes displayResults {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes displayTitles {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

/* RESPONSIVE */
/* Desktops */
@media only screen and (min-width: 1281px) {
    .container {
        display: flex;
        justify-content: center;
    }
    .terminal, .terminal__menu, .terminal__screen {
        width: 80vw;
    }

    .terminal__screen::before  {
        background-size: contain;
    }
}

/* Tablets */
@media only screen and (min-width: 600px) {
    .container {
        display: flex;
        justify-content: center;
    }
    .terminal, .terminal__menu, .terminal__screen {
        width: 86vw;
    }

    .terminal__screen::before  {
        background-size: contain;
    }
}